<!DOCTYPE HTML>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>ChatRoom</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<div class="container mt-5"></div>

<div th:each="chat:${chats}">
    <form method="get" th:action="'/chat'"  >
        <div class="wrapper">
            <input name="id" type="hidden" th:value="${chat.getId}">
            <button class="slide_from_left" type="submit" ><p th:text="${chat.getName}"></p></button>
        </div>
    </form>


</div>

</body>


</html>