<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Users</title>
    <!--    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/main.css" rel="stylesheet">
    <!--    <script src="/webjars/jquery/jquery.min.js"></script>-->
    <!--    <script src="/webjars/sockjs-client/sockjs.min.js"></script>-->
    <!--    <script src="/webjars/stomp-websocket/stomp.min.js"></script>-->
    <!--    <script src="/app.js"></script>-->
</head>
<body>
<div th:each="user : ${users}">
    <form th:action="@{/createChat}" method="post">
        <input th:name="userName" id="userName" th:value="${user.getUsername()}">
        <td th:name="userName"  th:text="${user.getUsername()}" ></td>
        <button type="submit">Create chat</button>
    </form>

</div>
</body>
</html>


